

$light-grey: #fafbfc;
$border-grey: #e1e4e8;
$border-grey--dark: #b9bbbf;

$dark-text: #24292e;
$dark-text--light: #586069;
$light-text: #f0f0f0;
$light-text--dark: #777;

$primary-color: #8155BA;

