/*
* BASIC
*/

$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$-xs: #{$xs} - 1;
$-sm: #{$sm} - 1;
$-md: #{$md} - 1;
$-lg: #{$lg} - 1;

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: $-sm) {
    width: auto;
  }
  @media (min-width: $sm) and (max-width: $-md) {
    width: 750px;
  }
  @media (min-width: $md) and (max-width: $-lg) {
    width: 970px;
  }
  @media (min-width: $lg) {
    width: 1170px;
  }
}

