
@mixin flexy($d: flex, $y: center, $x: center, $wrap: wrap, $dir: row) {
    display:$d;
    justify-content: $x;
    align-items:$y;
    flex-wrap: $wrap;
    flex-direction: $dir;
}

$ease--normal: cubic-bezier(.25,.8,.25,1);
$ease--bounce: cubic-bezier(.32,2,.55,.27);
@mixin transition($s: 400ms, $ease: $ease--normal) {
    transition: all $s $ease;
}

@mixin backgroundGradient($colr1: #e66528, $colr2: #f5307c, $clip: initial) {
    background: linear-gradient(45deg, $colr1 0%, $colr2 100%);
    -webkit-background-clip: $clip;
    -webkit-text-fill-color: transparent;
}

@mixin backgroundGradient2($colr1: $primary-color, $colr2: darken($primary-color, 15%), $clip: initial) {
    background: linear-gradient(45deg, $colr1 0%, $colr2 100%);
    -webkit-background-clip: $clip;
    -webkit-text-fill-color: transparent;
}