.banner {
    background: #6D42A3;
    background: linear-gradient(to top, #fff 0%, lighten($primary-color, 5%) 30%, $primary-color 100%);    
    padding-top: 4.5em;
    padding-bottom: 18.5em;
    position: relative;

    &-content {
        text-align:center;
    }
    &-title h1 {
        color:$light-text;
    }

  }
  .banner::before {
    background-image: url(../../assets/images/banner-shape.png);
    background-size: 2880px 560px;
    content: '';
    background-repeat: no-repeat;
    background-position: center bottom;
    position: absolute;
    width: 100%;
    height: 35em;
    bottom: 0;
    left: 0;
    pointer-events:none;
  }