
.posts {
  @include spacing();
  
  &-grid {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat( 3, 1fr );
  }
  
  a {
    color: $dark-text;

    &:hover {
      color: $dark-text;
    }
  }

  .post-preview {
    cursor:pointer;

    &-thumbnail {
      background-position: center;
      background-size: cover;
      height: 250px;
      clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 90%, 0 0);
      @include transition;
    }

    &-content {
      transform:translateY(-15px);
      @include transition;
    }

    &:hover {
      .post-preview-thumbnail {
        clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 0);
      }
      .post-preview-content {
        transform:translateY(-18px);
      }
    }

  }

}


