
  .main-nav {
    background-color: $light-grey;
    border-bottom: 1px solid $border-grey--dark;
    &__links {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 10px;

    }
    &__link {
      margin: 15px;
      color: $dark-text;
      position: relative;
 
      a {
        font-weight:600;
        color:inherit;
      }

      &:after {
        position: absolute;
        bottom:-5px;
        left:0;
        width:0;
        height:2px;
        @include backgroundGradient();
        content:"";
        @include transition($ease: $ease--bounce);
      }

      &.nuxt-link-exact-active,
      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }

